@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    border: 0;
    margin: 0;
    text-decoration: none;

}

html,
body {
    width: 100%;
    background-color: #1E1919;
    background-image: url(asset/Nouveaudossier/Frame\ 570.png);

}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 107px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    z-index: 1;
}

.logo {
    width: 25%;
    height: 100%;
}

#logoid {
    width: 259px;
    height: 100%;
    padding-left: 259px;
}

.ancre {
    display: flex;
    gap: 39px;
    align-self: center;
    cursor: pointer;
    position: relative;
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 75%;
    left: 400px;

}

a {
    color: white;
}

.banner {
    width: 100%;
    height: 1080px;
}

#idbanner {
    width: 100%;
    height: 1080px;

}

#menu{
    display: none;
   
}



.h1 {
    position: relative;
    display: flex;
    bottom: 900px;
    left: 350px;
    z-index: 0;
    width: 50%;
}

h1 {
    color: #FFF;
    font-family: Murecho;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 96px;
    display: flex;
    position: relative;
    z-index: 1;
}

.h2 {
    display: flex;
    position: relative;
    z-index: 0;
    bottom: 550px;
    z-index: 0;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;
}

#arrowh2 {
    width: 52px;
    height: 52px;
}

.h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;

    padding-top: 55px;
}

.card {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    left: 257px;

    border: 1px solid #F6F0F0;
}

.card__image {
    width: 100%;
    height: 100%;
}

.card__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 20px;
}



.card__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 417px;
    height: 359px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 38.61%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 0;
}

.card__title {
    left: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFF;
    font-family: Murecho;
    display: flex;
    position: relative;
    top: 50px;
}

.card__text {
    display: flex;
    position: relative;
    top: 50px;
    overflow: hidden;
    color: #FFF;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 361px;
    height: 100px;
}

.card__button {
    top: 70px;
    right: 20px;
    display: flex;
    position: relative;
    padding: 11px 45px 11px 45px;
    background-color: #D20000;
    color: #fff;
    border-radius: 10px;
    width: 62px;
    height: 23px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    bottom: 0;
    letter-spacing: 1px;
    align-items: center;
    text-align: center;

}

#imgid1 {
    border-radius: 20px;
}

.card2 {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    left: 751px;
    bottom: 545px;
    border: 1px solid #F6F0F0;
}

.card3 {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    left: 1245px;
    bottom: 1090px;
    border: 1px solid #F6F0F0;
}

.groupcardprise {

    height: 584px;
    margin-top: 30px;
}

.cartejapon {
    width: 100%;
    margin-top: 50px;
    display: flex;
    position: relative;

}

.boutoncarte {
    width: 205px;
    height: 66px;
    left: 257px;
    position: relative;

}

.btncarte {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 18px 55px;
    justify-content: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

.textecarte {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    display: flex;
    position: relative;
    left: 287px;
    width: 701px;
    justify-content: justify;
    text-align: justify;
}



#jpnsvg {
    width: 708.45px;
    height: 792.81px;
    display: flex;
    position: relative;
    right: 50px;
}

iframe {
width: 1280px;
height: 720px;
justify-content: center;
align-items: center;
border-radius: 20px;
}

.video{
    display: flex;
    position: relative;
    justify-content: center;

}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    margin-top: 30px;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_overlay {
    width: 546px;
    height: 384px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;

}

.cards_overlay2 {
    width: 569px;
    height: 384px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay3 {
    width: 365px;
    height: 384px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay4 {
    width: 569px;
    height: 384px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay5 {
    width: 365px;
    height: 384px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay6 {
    width: 546px;
    height: 384px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}


.cards:hover .cards_overlay {
    display: none;
    transition: ease-in-out 0.6s;

}

.cards:hover .cards_overlay3 {
    display: none;
    transition: ease-in-out 0.6s;
}

.cards:hover .cards_overlay4 {
    display: none;
    transition: ease-in-out 0.6s;
}

.cards:hover .cards_overlay5 {
    display: none;
    transition: ease-in-out 0.6s;
}

.cards:hover .cards_overlay6 {
    display: none;
    transition: ease-in-out 0.6s;
}

.cards:hover .cards_overlay2 {
    display: none;
    transition: ease-in-out 0.6s;
}


.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}

.cards p {
    font-weight: 700;
    color: #FFF;
    font-family: Murecho;
    cursor: pointer;
    z-index: 1;
}

.cards p:nth-child(1) {
    font-size: 159px;
    opacity: 49%;
    position: absolute;
    z-index: 1;
}

.cards p:nth-child(2) {
    font-size: 2rem;
    position: absolute;
    font-size: 65.282px;
    z-index: 1;
}



button {
    display: flex;
    position: absolute;
    width: 303px;
    height: 64px;
    padding: 13px 53px 12px 54px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 292px;
    border: 3px solid #F6F0F0;
    background: rgba(246, 240, 240, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    opacity: 0;
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button:before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';

    background: linear-gradient(25deg, rgba(255, 255, 255, 0.43) 0%, rgba(30, 25, 25, 0.64) 28.32%, rgba(30, 25, 25, 0.33) 74.24%, rgba(255, 255, 255, 0.43) 100%);


    z-index: -1;
}



button:hover:before,
button:focus:before {
    transition: 0.5s ease-in-out;
    left: 0;
    right: 0;
    opacity: 1;

}

button:active {
    transform: scale(0.9);
}

.cards:hover button {
    opacity: 1;
}

.contact {
    width: 100%;
    object-fit: cover;
    height: 693px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#imgcontact {
    width: 100%;
    height: 693px;
    object-fit: cover;
}

.caseform {
    width: 867px;
    height: 470px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 600px;
    left: 500px;

}

.caseform p:nth-child(1) {
    color: #FFF;
    text-align: justify;
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    bottom: 50px;
}

.formulaire {
    position: relative;
    width: 618px;
    border-bottom: 3px solid #FFF;
    color: white;
}

.inputform {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    text-align: justify;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}


input:focus~.input-border {
    width: 100%;
}

.btnform {
    position: relative;
    border: transparent;
    border-radius: 20px;
    font-size: 21px;
    font-weight: normal;
    display: flex;
    align-self: center;
    width: 199px;
    height: 56px;
    padding: 0px 40px 10px 40px;
    justify-content: center;
    align-items: center;
    color: white;
    background: transparent;
    cursor: pointer;
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
}

.btnform::before {
    content: "";
    position: absolute;
    inset: 0;
    border: inherit;
    border-radius: inherit;
    padding: 3px;
    background: #FFF;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: clear;
    mask-composite: clear;
}



.postgroup {
    display: flex;
    gap: 21px;
    justify-content: center;
}

.instagram h3 {
    display: flex;
    color: #FFF;
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    margin-bottom: 44px;
    margin-top: 71px;
}

/* FOOTER */

footer {
    background-color: #1E1919;
    width: 100%;
    height: 600px;
    margin-top: 71px;
    display: flex;
    flex-direction: row;
    padding-top: 133px;

}

.logofooter {
    width: 300px;
    height: 183px;
    display: flex;
    position: relative;
    margin-left: 243px;
}

.sitemap {
    width: 126px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    gap: 30px;
    margin-left: 87px;
    position: relative;
}

.sitemap h3 {
    color: var(--white, #FFF);
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.275px;
    /* 116.484% */
    width: 200px;
}

.reseaux {
    width: 126px;
    height: 339.9px;
    display: flex;
    flex-direction: column;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    gap: 30px;
    margin-left: 180px;
    position: relative;
}

.reseaux h3 {
    color: var(--white, #FFF);
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.275px;
    /* 116.484% */

}

.siege_social {
    width: 126px;
    height: 339.9px;
    display: flex;
    flex-direction: column;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    gap: 30px;
    margin-left: 180px;
    position: relative;
}

.siege_social h3 {
    color: var(--white, #FFF);
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.275px;
    width: 200px;
}

.newsletter {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 120px;

}

.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}

/* styling of Input */
.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.288px;
    /* 146.438% */
}

.input-border {
    position: absolute;
    background: #F6F0F0;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    width: 433.987px;
    height: 1.331px;
}

input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}

input:focus~.input-border {
    width: 100%;
}

.fa-regular {
    color: #ffffff;
    width: 30.65px;
    height: 19.87px;
}

.newsletter h3 {
    color: var(--white, #FFF);
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.275px;
}

.mailentreprise {
    display: flex;
    position: relative;
    margin-top: 150px;
    right: 920px;
    color: var(--white, #FFF);
    text-align: justify;
    font-family: poppins;
    font-size: 23.962px;
    font-style: normal;
    font-weight: 300;
    line-height: 31.95px;
}

.numeroentreprise {
    display: flex;
    position: relative;
    right: 320px;
    color: var(--white, #FFF);
    text-align: justify;
    font-family: poppins;
    font-size: 23.962px;
    font-style: normal;
    font-weight: 300;
    margin-top: 0;
    bottom: 30px;
}

.droits {
    display: flex;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    font-family: Poppins;
    font-size: 15.975px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.625px;
    bottom: 55px;
}