@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    border: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html,
body {
    width: 100%;
    background-color: #1E1919;
    background-image: url(/asset/Nouveaudossier/Frame\ 570.png);

}



.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 107px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    z-index: 2;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.logo {
    width: 25%;
    height: 100%;
}

#logoid {
    width: 259px;
    height: 100%;
    padding-left: 159px;
}

.ancre {
    display: flex;
    gap: 39px;
    align-self: center;
    cursor: pointer;
    position: relative;
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 75%;
    left: 200px;
    flex-direction: row;
    

}

a {
    color: white;
}

.banner {
    width: 100%;
    height: 863px;
}

#idbanner {
    width: 100%;
    height: 863px;
}

.icons{
    display: none;
}

.grid{
    margin-top: 80px;
    margin-left: 5%;
    height: 816px;
}
.grid-1{
    display: flex;
    align-items: center;
    justify-content: c;
}
.grid-2{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    position: relative;
    left: 455px;
    bottom: 817px;
}

/* FIN DES METHODES  */

.grid-1 .cards:nth-child(1) img{
    width: 458px;
    height: 816px;
   
}
.grid-2 .cards:nth-child(1) img{
    width: 458px;
    height: 408px;
   
}
.grid-2 .cards:nth-child(2) img{
    width: 458px;
    height: 408px;
    
}
.grid-2 .cards:nth-child(4) img{
    width: 458px;
    height: 408px;
   
}
.grid-2 .cards:nth-child(3) img{
    width: 458px;
    height: 408px;
    
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards p {
    font-weight: 700;
    color: #FFF;
    font-family: Murecho;
}

.cards p:nth-child(1) {
    font-size: 159px;
    opacity: 49%;
    position: absolute;
}

.cards p:nth-child(2) {
    font-size: 2rem;
    position: absolute;
    font-size: 65.282px;
}

.cards_overlay {
    width: 458px;
    height: 816px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;

}

.cards_overlay2 {
    width: 458px;
    height: 408px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay3 {
    width: 458px;
height: 408px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay4 {
    width: 458px;
height: 408px;;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay5 {
    width: 458px;
height: 408px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay6 {
    width: 546px;
    height: 384px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.cards_overlay7 {
    width: 458px;
height: 408px;

    background-color: #000;
    position: absolute;
    opacity: 0.3;
}
.cards_overlay8 {
    width: 458px;
height: 408px;

    background-color: #000;
    position: absolute;
    opacity: 0.3;
}
.cards_overlay9 {
    width: 458px;
height: 408px;

    background-color: #000;
    position: absolute;
    opacity: 0.3;
}


.cards:hover .cards_overlay {
    display: none;
    transition: ease-in-out 0.6s;

}

.cards:hover .cards_overlay3 {
    display: none;
    transition: ease-in-out 0.6s;
}

.cards:hover .cards_overlay4 {
    display: none;
    transition: ease-in-out 0.6s;
}

.cards:hover .cards_overlay5 {
    display: none;
    transition: ease-in-out 0.6s;
}

.cards:hover .cards_overlay6 {
    display: none;
    transition: ease-in-out 0.6s;
}

.cards:hover .cards_overlay7 {
    display: none;
    transition: ease-in-out 0.6s;
}
.cards:hover .cards_overlay8 {
    display: none;
    transition: ease-in-out 0.6s;
}
.cards:hover .cards_overlay9 {
    display: none;
    transition: ease-in-out 0.6s;
}


.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}

.cards p {
    font-weight: 700;
    color: #FFF;
    font-family: Murecho;
    cursor: pointer;
    z-index: 1;
}

.cards p:nth-child(1) {
    font-size: 159px;
    opacity: 49%;
    position: absolute;
    z-index: 1;
}

.cards p:nth-child(2) {
    font-size: 2rem;
    position: absolute;
    font-size: 65.282px;
    z-index: 1;
}



button {
    display: flex;
    position: absolute;
    width: 303px;
    height: 64px;
    padding: 13px 53px 12px 54px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 292px;
    border: 3px solid #F6F0F0;
    background: rgba(246, 240, 240, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    opacity: 0;
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
}

button:before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';

    background: linear-gradient(25deg, rgba(255, 255, 255, 0.43) 0%, rgba(30, 25, 25, 0.64) 28.32%, rgba(30, 25, 25, 0.33) 74.24%, rgba(255, 255, 255, 0.43) 100%);


    z-index: -1;
}



button:hover:before,
button:focus:before {
    transition: 0.5s ease-in-out;
    left: 0;
    right: 0;
    opacity: 1;

}

button:active {
    transform: scale(0.9);
}

.cards:hover button {
    opacity: 1;
}
#titregridk{
    font-size: 48px;
}

.h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;

    padding-top: 55px;
}

.groupcardprise{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    margin-top: 30px;
}

.group1{
    display: flex;
    gap: 32px;
}

.group2{
    display: flex;
    gap: 32px;
}

.card {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border: 1px solid #F6F0F0;
}

.card__image {
    width: 100%;
    height: 100%;
}

.card__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 20px;
}



.card__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 417px;
    height: 359px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 38.61%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 0;
}

.card__title {
    left: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFF;
    font-family: Murecho;
    display: flex;
    position: relative;
    top: 50px;
}

.card__text {
    display: flex;
    position: relative;
    top: 50px;
    overflow: hidden;
    color: #FFF;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 361px;
    height: 100px;
}

.card__button {
    top: 70px;
    right: 20px;
    display: flex;
    position: relative;
    padding: 11px 45px 11px 45px;
    background-color: #D20000;
    color: #fff;
    border-radius: 10px;
    width: 62px;
    height: 23px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    bottom: 0;
    letter-spacing: 1px;
    align-items: center;
    text-align: center;

}

#imgid1 {
    border-radius: 20px;
}


.card {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border: 1px solid #F6F0F0;
}
.card2 {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border: 1px solid #F6F0F0;
}

.card3 {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border: 1px solid #F6F0F0;
}

.card4 {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border: 1px solid #F6F0F0;
}


.card5 {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border: 1px solid #F6F0F0;
}
.card6 {
    position: relative;
    width: 417px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border: 1px solid #F6F0F0;
}

.gridplat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;  
    gap: 32px;
}
.plats{
    display: flex;
    position: relative;
  
}

#plat1{
    border-radius: 20px;
}
#titrekanjir{
    font-size: 128px;
}

#titrekanjio{
    font-size: 128px;
    text-align: center;
    display: flex;
}



.contact {
    width: 100%;
    object-fit: cover;
    height: 693px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#imgcontact {
    width: 100%;
    height: 693px;
    object-fit: cover;
}

.caseform {
    width: 867px;
    height: 470px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 600px;
    left: 22%;

}

.caseform p:nth-child(1) {
    color: #FFF;
    text-align: justify;
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    bottom: 50px;
    margin-top: 50px;
}

.formulaire {
    position: relative;
    width: 618px;
    border-bottom: 3px solid #FFF;
    color: white;
}

.input::placeholder{
    color: grey;
}

.inputform::placeholder{
    color: white;
}

.inputform {
    color: white;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    text-align: justify;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}




input:hover {
    background: #FFF;
}

input:focus {
    outline: none;
}


input:focus~.input-border {
    width: 100%;
}

.btnform {
    position: relative;
    border: transparent;
    border-radius: 20px;
    font-size: 21px;
    font-weight: normal;
    display: flex;
    align-self: center;
    width: 199px;
    height: 56px;
    padding: 0px 40px 10px 40px;
    justify-content: center;
    align-items: center;
    color: white;
    background: transparent;
    cursor: pointer;
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 90px;

}

.btnform::before {
    content: "";
    position: absolute;
    inset: 0;
    border: inherit;
    border-radius: inherit;
    padding: 3px;
    background: #FFF;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: clear;
    mask-composite: clear;
}




.postgroup {
    display: flex;
    gap: 21px;
    justify-content: center;
}

.instagram h3 {
    display: flex;
    color: #FFF;
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    margin-bottom: 44px;
    margin-top: 71px;
}

.cards_overlay7 {
    width: 390px; 
    height:  303px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
    border-radius: 20px;
}

.cards_overlay8 {
    width: 390px; 
    height:  303px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
    border-radius: 20px;
}

.cards_overlay9 {
    width: 390px; 
    height:  303px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
    border-radius: 20px;
}

.cards_overlay10 {
    width: 458px;
height: 408px;

    background-color: #000;
    position: absolute;
    opacity: 0.3;
    border-radius: 20px;
}
.cards_overlay11 {
    width: 458px;
height: 408px;
border-radius: 20px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}
.cards_overlay12 {
    width: 458px;
height: 408px;
border-radius: 20px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
}

.post1:hover .cards_overlay7 {
    display: none;
    transition: ease-in-out 0.6s;
}

.post2:hover .cards_overlay8 {
    display: none;
    transition: ease-in-out 0.6s;
}

.post3:hover .cards_overlay9 {
    display: none;
    transition: ease-in-out 0.6s;
}


.post1 img{
    width: 390px;
}
.post2 img{
    width: 390px;
}
.post3 img{
    width: 390px;
}

footer{
    background-color: #1E1919;
    width: 100%;
    height: 600px;
    margin-top: 71px;
    display: flex;
    flex-direction: row;
    padding-top:133px;

}

.logofooter {
    width: 300px;
    height: 183px;
    display: flex;
    position: relative;
    margin-left: 2%;
}


.sitemap {
    width: 126px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    gap: 30px;
    margin-left: 87px ;
    position: relative;
}

.sitemap h3{
    color: var(--white, #FFF);
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.275px; /* 116.484% */ 
    width: 200px;
}

.reseaux{
    width: 126px;
    height: 339.9px;
    display: flex;
    flex-direction: column;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    gap: 30px;
    margin-left: 180px ;
    position: relative;  
}

.reseaux h3{
    color: var(--white, #FFF);
    font-family: Murecho;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.275px; /* 116.484% */
     
}

.siege_social {
    width: 126px;
    height: 339.9px;
    display: flex;
    flex-direction: column;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    gap: 30px;
    margin-left: 180px ;
    position: relative;  
}

.siege_social h3{
    color: var(--white, #FFF);
font-family: Murecho;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 37.275px; 
width: 200px;
}

.newsletter{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 120px;

}

.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}

   /* styling of Input */


.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    color: var(--white, #FFF);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 29.288px; /* 146.438% */
   }

.input-border {
    position: absolute;
    background: #F6F0F0;

    height: 2px;
    bottom: 0;
    left: 0;
    
    width: 350px;
    height: 1.331px;
}


   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }

   input:focus ~ .input-border {
    width: 100%;
   }
   .fa-regular {
    color: #ffffff;
    width: 30.65px;
    height: 19.87px;
    left: 70px;
    position: relative;
}

.newsletter h3 {
            color: var(--white, #FFF);
            font-family: Murecho;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 37.275px;
}

.mailentreprise{
    display: flex;
    position: relative;
    margin-top: 150px;
    right: 920px;
    color: var(--white, #FFF);
text-align: justify;
font-family: poppins;
font-size: 23.962px;
font-style: normal;
font-weight: 300;
line-height: 31.95px; 
}

.numeroentreprise{
    display: flex;
    position: relative;
    right: 320px;
    color: var(--white, #FFF);
text-align: justify;
font-family: poppins;
font-size: 23.962px;
font-style: normal;
font-weight: 300;
margin-top: 0;
bottom: 30px;
}

.droits{
    display: flex;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
font-family: Poppins;
font-size: 15.975px;
font-style: normal;
font-weight: 400;
line-height: 26.625px; 
bottom: 55px;
}
